<div class="notes-container">
  <div class="note-card" (click)="openNote()">
    <div class="note-content">
      <h3 class="note-title">Note Title</h3>
      <p class="note-preview">This is a preview of the note content...</p>
      <div class="note-footer">
        <span class="note-date">Created: 2023-12-25</span>
        <span class="note-category">Category</span>
      </div>
    </div>
  </div>
  <div class="note-card" (click)="openNote()">
    <div class="note-content">
      <h3 class="note-title">Note Title</h3>
      <p class="note-preview">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nesciunt, modi nulla ut possimus reprehenderit debitis ipsum omnis dignissimos voluptates officiis ullam sint aliquam exercitationem aliquid iste beatae ab unde ipsam?
      Dolores optio ipsum, corporis quibusdam obcaecati tempore ullam iure eveniet, accusamus doloribus harum necessitatibus nihil dolorum in quaerat sed eligendi, est odit doloremque repellat aliquam quo. Culpa error saepe reprehenderit!
      Voluptate praesentium ab dignissimos dolorem itaque pariatur ex unde sunt laudantium vero, expedita molestiae voluptatibus vel dolor dolores omnis assumenda corporis a ratione reprehenderit in magni? Perferendis, minima! Nihil, illo?
      Voluptatem eos voluptatum laboriosam? Pariatur animi earum officia in quasi, magnam corrupti non ipsa quidem quos error accusamus doloribus voluptates excepturi facilis recusandae mollitia magni repellat modi iste. Doloribus, suscipit?
      Suscipit quibusdam iure ratione error officiis fugit repudiandae voluptatibus ipsum, ipsam in voluptatem dolore nisi cum aut animi natus temporibus minus explicabo possimus veniam tenetur quam dolores quo. Molestiae, porro!
      Dolore dolores deleniti, doloribus expedita doloremque, minus ut error velit aliquam odio earum labore, officiis aliquid! Saepe laborum mollitia tempore explicabo est sed cumque facilis commodi earum, magnam voluptatibus quidem.
      Soluta, magnam alias quisquam est ullam blanditiis fuga deserunt ratione sit nihil minus tempora quis molestiae. Recusandae est cumque iure harum hic dicta, nulla sed porro accusamus corrupti, reiciendis repudiandae!
      Quam sed molestias, commodi tenetur delectus vero error, quidem ullam distinctio atque modi tempore, nesciunt saepe. Aliquid possimus tenetur totam corrupti minus illum, temporibus maxime nobis ad numquam ullam reiciendis.
      A exercitationem cum deserunt eaque id vel voluptas error numquam laborum repellendus quos dolorem, esse quis officia magnam vero, officiis porro, explicabo reiciendis. Ut facilis saepe maiores nulla, eaque autem.
      Reiciendis quos facilis, alias ipsum accusamus provident impedit debitis tempore ratione pariatur nihil vel, modi ipsam quasi perferendis cumque eaque laudantium, blanditiis quo est facere consequatur commodi adipisci. Natus, perferendis?
      Cupiditate ipsum esse obcaecati architecto ab tempore numquam praesentium voluptatum asperiores quia dolores a, aliquam sit animi blanditiis deserunt vel quas. Expedita, labore voluptate! Reiciendis nihil illum veniam placeat doloremque?
      Aut repellendus reprehenderit repudiandae laudantium expedita iusto, asperiores autem, nesciunt veniam odio accusamus modi! Suscipit eveniet quaerat ex alias nisi, officiis blanditiis, modi, quasi beatae impedit consequuntur! Dolores, ad quibusdam!
      Inventore quos similique sunt quaerat architecto laboriosam cumque dolorem ea nisi, esse, modi quae sapiente unde aliquam suscipit incidunt molestias et velit adipisci iure officia harum minus! Voluptatum, numquam minus.
      Id quam minima amet quas quia cum aliquid obcaecati voluptatem nulla, velit quo ea minus, assumenda architecto vitae dolore exercitationem sint blanditiis. Dolore consequatur ex temporibus deserunt inventore, accusamus et?
      Corporis nostrum quaerat sequi doloribus sit sunt soluta ea obcaecati illum minima dolorum laboriosam aut ipsa voluptatum deserunt, atque omnis. Reiciendis earum qui architecto consectetur. Possimus commodi soluta consectetur neque?
      Cum velit minima voluptatum tempora dignissimos omnis! Quo pariatur at consequatur corporis quasi repellendus rem, nisi animi iste consequuntur doloremque magnam, molestias tempore beatae. Sapiente in voluptates praesentium soluta magni.
      Voluptatibus repellat cupiditate, deleniti voluptas hic vitae modi quisquam, nobis eligendi quod reprehenderit est delectus, dolorem excepturi ratione exercitationem et velit illo odio illum quos. Tempore vero repudiandae obcaecati ad!
      In et repudiandae voluptatibus magni officiis voluptate. Ratione enim explicabo et, quae inventore fuga. Iste harum fuga laudantium asperiores! Dolore aspernatur dolor inventore ipsa. Rerum blanditiis laudantium ullam officiis eos?
      Sed minima nesciunt unde iusto ipsa accusantium amet qui quaerat dolores! Magni numquam asperiores cumque et sint, fugiat laudantium, facilis eligendi dolores cupiditate itaque quibusdam velit sit, quia odio! Facere!
      Voluptatem recusandae fuga libero. At et perferendis numquam ex temporibus incidunt tenetur similique deserunt a cupiditate provident, ea impedit reprehenderit voluptas alias hic voluptatum illum quidem! Cumque nam accusantium dolores?</p>
      <div class="note-footer">
        <span class="note-date">Created: 2023-12-25</span>
        <span class="note-category">Category</span>
      </div>
    </div>
  </div>
  <div class="note-card" (click)="openNote()">
    <div class="note-content">
      <h3 class="note-title">Note Title</h3>
      <p class="note-preview">This is a preview of the note content...</p>
      <div class="note-footer">
        <span class="note-date">Created: 2023-12-25</span>
        <span class="note-category">Category</span>
      </div>
    </div>
  </div>
  <div class="note-card" (click)="openNote()">
    <div class="note-content">
      <h3 class="note-title">Note Title</h3>
      <p class="note-preview">This is a preview of the note content...</p>
      <div class="note-footer">
        <span class="note-date">Created: 2023-12-25</span>
        <span class="note-category">Category</span>
      </div>
    </div>
  </div>
</div>
