<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" (click)="closeNav()">&times;</a>
  <a href="#">Notes</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<div id="main">
  <div class="nav">
    <div class="hamlogo">
      <div class="hamburger" (click)="openNav()">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <div class="logo">
        <img src="images/appLogo.png" alt="">
      </div>
    </div>

    <div class="search">
      <input type="search" placeholder="Search for notes...">
    </div>

    <div class="profile-logout">
      <div class="profile">
        <i class="bi bi-person-circle"></i>
      </div>

      <div class="logout">
        <button type="button" routerLink="/login"><svg xmlns="http://www.w3.org/2000/svg" height="30px" viewBox="0 -960 960 960" width="30px" fill="#"><path d="M200-120q-33 0-56.5-23.5T120-200v-560q0-33 23.5-56.5T200-840h280v80H200v560h280v80H200Zm440-160-55-58 102-102H360v-80h327L585-622l55-58 200 200-200 200Z"/></svg></button>
      </div>
    </div>
  </div>

  <!-- Existing content of navbar.component.html -->
</div>
