<div class="nav">
  <div class="hamlogo">
  <div class="hamburger">
      <span></span>
      <span></span>
      <span></span>
  </div>
  <div class="logo">
    <img src="images/appLogo.png" alt="">
  </div>
</div>

  <div class="search">
    <input type="search" placeholder="Search for notes...">
  </div>

  <div class="profile-logout">
  <div class="profile">
    <i class="bi bi-person-circle"></i>
  </div>

  <div class="logout">
    <button type="button" routerLink="/login">Logout</button>
  </div>
</div>

</div>
